/* ======= Presets =======  */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-style: normal;
    line-height: 44px;
}

h1 {
    font-size: 56px;
    font-weight: 600;
    line-height: 88px;
    color: #0A0A0A;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #40E0D0;
}

h3 {
    font-size: 43px;
    font-weight: 600;
}

h4 {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}

h5 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

h6 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 36px;
}

h6.variant {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px !important;
}

.outline {
    color: white;
    text-shadow: -1px -1px 0 #0a0a0a, 1px -1px 0 #0a0a0a, -1px 1px 0 #0a0a0a, 1px 1px 0 #0a0a0a;
    letter-spacing: 4px;
    margin-left: 2px;
}

p {
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: normal;
    text-align: left;
    color: #333;
    margin-bottom: 36px;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #333;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #40E0D0;
}

ul {
    padding-left: 0;
}

.button {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0px;
    word-spacing: 1px;
    color: #ffffff;
    background-color: #40E0D0;
    border-radius: 5px;
    box-shadow: -1.6px 2.5px 6px 0 rgba(0, 0, 0, 0.25);
    padding: 8px 16px;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #40E0D0;
    box-shadow: -1.6px 2.5px 12px 0 rgba(0, 0, 0, 0.15);
}

.pd-top-150 {
    padding-top: 150px;
}

.section-padding-top {
    padding-top: 175px;
}

.section-padding-bottom {
    padding-bottom: 125px;
}

.mg-top-150 {
    margin-top: 150px;
}

.mg-bottom-100 {
    margin-bottom: 100px !important;
}

.resume-mg-top {
    margin-top: 150px;
}

.resume-button {
    font-size: 16px !important;
}

.mark,
mark {
    background-color: rgba(0, 72, 255, 0.1);
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
}

.section-divider {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    display: block;
    letter-spacing: 20px;
}

.note {
    display: flex;
    margin-top: -45px;
    margin-bottom: 45px;
}

.note-dash {
    width: 5px;
    background: #555555;
    flex-shrink: 0;
}

.note-content {
    color: #555555;
    padding: 10px 25px;
}

.note-link {
    font-family: 'Lora', serif;
    font-size: inherit;
    color: #40E0D0;
}

/* ======= !Presets =======  */


/* ======= Loader =======  */

.loader-screen {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.loader {
    position: absolute;
    top: 36%;
    left: 45%;
}

.signature {
    height: 100px;
}

.signature__inner {
    fill: none;
}

.signature__path {
    stroke: #333;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: opacity 1s ease-in-out;
}

.loading {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    margin-left: 15px;
}


/* ======= !Loader =======  */


/* ======= Navigation =======  */

.navigation-menu {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0px;
    z-index: 100;
}

.header-menu {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.096);
}

.header-menu .navbar {
    padding-top: 25px;
}

.navbar {
    padding: 50px 0 10px;
    transition: all 0.4s ease-in-out;
}

.navbar-brand {
    line-height: 1;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.nav-link {
    margin: 0 30px;
    padding: 0 !important;
    line-height: 1;
    position: relative;
}

.nav-link:hover {
    color: #0a0a0a;
}

.navbar-nav .nav-item:last-of-type .nav-link {
    margin-right: 0;
}

.nav-link.active::after,
.nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: -11px;
    height: 2px;
    background-color: #333;
    animation: dash 0.3s 1 ease-in-out forwards;
}

@keyframes dash {
    from {
        left: 50%;
        right: 50%;
    }

    to {
        left: 0%;
        right: 0%;
    }
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none;
}

.collapsing {
    transition: height 0.5s ease-in-out;
}

/* ======= !Navigation =======  */


/* ======= Hamburger Menu Icon=======  */

.navbar.main-navbar .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.navbar-toggler {
    color: #0a0a0a;
    z-index: 1;
    position: relative;
    width: 36px;
    height: 18px;
    top: -1px;
}

.navbar-toggler i {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 2px;
    background: #0a0a0a;
    opacity: 1;
    border-radius: 10px;
    transition: background-color .35s, opacity 175ms cubic-bezier(.215, .61, .355, 1), -webkit-transform 175ms cubic-bezier(.215, .61, .355, 1);
    transition: background-color .35s, transform 175ms cubic-bezier(.215, .61, .355, 1), opacity 175ms cubic-bezier(.215, .61, .355, 1);
    transition: background-color .35s, transform 175ms cubic-bezier(.215, .61, .355, 1), opacity 175ms cubic-bezier(.215, .61, .355, 1), -webkit-transform 175ms cubic-bezier(.215, .61, .355, 1);
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0)
}

.navbar-toggler i:nth-child(1) {
    top: -3px;
}

.navbar-toggler i:nth-child(2) {
    top: 7px;
}

.navbar-toggler i:nth-child(3) {
    top: 17px;
}

.navbar-toggler[aria-expanded="true"] i:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
    -moz-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] i:nth-child(2) {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] i:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
}

/* ======= !Hamburger Menu Icon=======  */


/* ======= About =======  */

.about h1 {
    margin-top: 100px;
    margin-bottom: 28px;
}

.about p {
    font-size: 18px;
    margin-bottom: 16px;
}

.georgia-logo {
    width: 9px;
    height: auto;
    margin-top: -25px;
}

.profile-img {
    position: relative;
    top: -10px;
}

.nishu {
    width: 100%;
    height: auto;
}

/* ======= !About =======  */


/* ======= Work =======  */

.project-card {
    margin-top: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    height: 400px;
    position: relative;
}

.my-work {
    margin-bottom: 30px;
}

.project-text {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.text-content {
    position: absolute;
    padding: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.text-content h5 {
    opacity: 0.9;
}

.roadie_max {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.mb120px {
    margin-bottom: 120px;
}

.design-implication {
    color: #40E0D0;
}

.mb60px {
    margin-bottom: 60px;
}

.roadie_finding {
    margin-bottom: 60px;
}

.casestudy {
    text-align: center;
    display: block;
    margin-bottom: 30px !important;
}

.casestudy * {
    font-size: 16px !important;
}

/* ======= !Work =======  */


/* ======= Project =======  */

.project-title {
    padding-bottom: 80px;
}

.project-title h1 {
    margin-left: -5px;
}

.subway-main-title {
    font-size: 54px !important;
}

.label {
    position: absolute;
    background-color: #40E0D0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 16px;
    line-height: 1;
}

.label~img {
    position: relative;
    z-index: 5;
}

.back-to-work {
    font-size: 22px;
    color: rgb(116, 116, 116);
    padding-bottom: 80px;
}

.back-black {
    color: rgb(48, 48, 48);
}

.back-to-work:hover {
    text-decoration: none;
}

.back-to-work i {
    position: relative;
    top: 5px;
}

.work-menu {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
    padding: 20px 0 10px;
    transition: all 0.6s ease-in-out;
}

.box-menu {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.096);
    padding: 8px 0;
}

.sticky-menu {
    position: fixed;
    top: -100px;
}

.header-menu {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.096);
}

.header-menu .navbar {
    padding-top: 25px;
}

.work-list {
    margin-top: 150px;
    margin-bottom: 250px;
}

.work-list li {
    margin-bottom: 200px;
}

.work-list li:last-of-type {
    margin: -20px 0 0;
}

.reverse-li .col-text {
    text-align: right;
}

.work-img {
    position: relative;
    background-image: linear-gradient(45deg,#6B62A5, #5E48E8);
    box-shadow: 0px 10px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 336px;
    margin: 10px 30px 0 0;
}

.work-img1 {
    position: relative;
    background-image: linear-gradient(45deg, #FFFC00, #fffb00ec);
    box-shadow: 0px 10px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 336px;
    margin: 10px 30px 0 0;
}

.square-iphone {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: -12px;
    left: 26px;
}

.square-iphone-1,
.square-iphone-2 {
    width: 400px;
    height: auto;
    position: absolute;
}


.square-iphone-1 {
    top: -125px;
    left: 65px;
}

.square-iphone-2 {
    top: -262px;
    left: 425px;
}


.square-logo {
    width: 30px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 15px;
}

.watch-img {
    position: relative;
    background-image: linear-gradient(45deg, #2025CB, #2025CB 75%);
    box-shadow: 0px 10px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 320px;
    margin: 0 0 0 30px;
}

.watch-img1 {
    position: relative;
    background-image: linear-gradient(45deg, #FF4208 , #FF4208 75%);
    box-shadow: 0px 15px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 320px;
    margin: 0 0 0 30px;
}

.apple-watch {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: -10px;
    left: -5px;
}

.work-img-project .apple-watch {
    width: 300px;
    height: auto;
    position: absolute;
    top: -50px;
    left: 300px;
}

.mac-img {
    position: relative;
    background-image: linear-gradient(45deg, #FF4208 , #FF4208 75%);
    box-shadow: 0px 15px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 320px;
    margin: 10px 30px 0 0;
}

.img-macbook {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: -15px;
    left: -10px;
}

.work-img-project .img-macbook {
    width: 1150px;
    height: auto;
    position: absolute;
    bottom: -75px;
    left: -100px;
}

.roadie-logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 15px;
}

.music-img {
    position: relative;
    background-image: linear-gradient(45deg, #FFFC00, #fffb00ec);
    box-shadow: 0px 10px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 336px;
    margin: 0 0 0 30px;
}

.subway-img {
    position: relative;
    background-image: linear-gradient(45deg, rgb(41, 101, 235) 0%, rgb(69, 143, 255) 100%);
    box-shadow: 0px 10px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 336px;
    margin: 0 0 0 30px;
}

.music-festival {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: -12px;
    left: 26px;
}

.work-img-project .music-festival {
    width: 325px;
    height: auto;
    position: absolute;
    top: -75px;
    left: 400px;
}

.subway-project {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: -40px;
    left: 10px;
}

.work-img-project {
    position: relative;
    border-radius: 25px;
    height: 375px !important;
    margin: 150px 0 120px !important;
}

.work-list button {
    background-color: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #40E0D0;
    font-weight: 500;
    width: 150px;
    margin: 150px 0 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.work-list button:hover,
.work-list button:active,
.work-list button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.work-list button:hover {
    color: #40E0D0;
}

.work-number {
    font-family: 'Montserrat', sans-serif;
    font-size: 120px;
    font-weight: 600;
    line-height: 120px;
    color: #fff;
    text-shadow: -1px -1px 0 #e3e3e3, 1px -1px 0 #e3e3e3, -1px 1px 0 #e3e3e3, 1px 1px 0 #e3e3e3;
}

.work-text h5 {
    font-size: 46px;
    color: #0a0a0a;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 20px;
}

.subway-title {
    font-size: 44px !important;
}

.work-text h6 {
    font-size: 21px;
    color: #333333;
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 25px;
}

.work-text h6 span {
    position: relative;
    color: #333333 !important;
    top: -5px;
}

.project-title.work-text h6 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
}

.work-text p {
    font-size: 18px;
}

.new-button {
    padding: 15px 50px 15px 22px;
    border-radius: 50px;
    border: 1px solid #333333;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.new-button:hover {
    border: 1px solid #40E0D0;
    background-color: #40E0D0;
    color: #fff;
    text-decoration: none;
}

.new-button .arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 48%;
    right: 20px;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.new-button .arrow-top,
.new-button .arrow-bottom {
    background-color: #333;
    position: absolute;
    height: 2px;
    left: -5px;
    top: 50%;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.new-button .arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.new-button .arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.new-button:hover .arrow {
    right: 12px;
}

.new-button:hover .arrow-top,
.new-button:hover .arrow-bottom {
    background-color: #fff;
}

.work-text p {
    margin-bottom: 90px;
    text-align: inherit;
}

.work-text .new-button {
    top: -36px;
}

/* ======= ! Project =======  */


/* ======= Contact =======  */

.contact-section {
    background-color: #0A0A0A;
    padding: 120px 0 40px;
}

#contact {
    position: relative;
}

#contact h3 {
    color: #f5f5f5;
}

.contact-list {
    padding-top: 40px;
    margin: 0;
}

.contact-list li {
    margin-bottom: 20px;
}

.contact-list li a {
    font-size: 22px;
    line-height: 1.25;
    transition: all 0.3s ease-in-out;
    color: #666666;
}

.contact-list li a:hover {
    text-decoration: none;
    text-shadow: none;
    color: #40E0D0;
}

#contact p {
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    margin: 150px 0 0;
}

.icon-pride-1 {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url("../images/rainbow_pride_1.png");
    background-size: contain;
    position: relative;
    top: 5px;
}

.plane-img {
    position: absolute;
    top: -20px;
    left: auto;
    right: 0;
    width: 400px;
    opacity: 0.75;
}

.section-break {
    display: none;
}

/* ======= !Contact =======  */


/* ======= WebiBeris =======  */

.nav-content {
    padding: 20px 0 70px 50px;
}

.nav-content li p {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 24px;
    margin-bottom: 10px;
    color: #616161;
    position: relative;
    padding-left: 10px;
}

.nav-content li p::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #616161;
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}

.wireframe {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 190px;
}

.wireframe-img1 {
    width: 594px;
    box-shadow: 19.1px 24.4px 40px 0 rgba(36, 37, 39, 0.08);
    margin-top: 182px;
    position: relative;
    z-index: 10;
}

.wireframe-img2 {
    width: 482px;
    box-shadow: 0.1px 4px 8px 0 rgba(36, 37, 39, 0.11);
    margin-left: -80px;
    position: relative;
}

.wireframe-img1 img,
.wireframe-img2 img {
    width: 100%;
}

.label-wireframe {
    padding: 16px 124px 38px 50px;
    top: 46px;
    left: -218px;
}

.styleguide {
    position: relative;
    margin: 100px 0 160px;
}

.styleguide img {
    width: 100%;
    box-shadow: 0.1px 4px 8px 0 rgba(36, 37, 39, 0.11);
}

.label-styleguide {
    padding: 16px 50px 40px 116px;
    top: -50px;
    right: 88px;
}

.illustration img {
    margin: 60px auto 200px;
    display: block;
    max-width: 100%;
}

.illustration img:first-of-type {
    margin-bottom: 76px;
}

.webiberis_mockup {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 140px;
}

.mockup-img1 {
    width: 698px;
    box-shadow: 11.7px 15px 40px 0 rgba(36, 37, 39, 0.13);
    margin-top: 92px;
    position: relative;
}

.mockup-img2 {
    width: 516px;
    box-shadow: 0.1px 4px 8px 0 rgba(36, 37, 39, 0.11);
    margin-left: -60px;
    position: relative;
}

.mockup-img1 img,
.mockup-img2 img {
    width: 100%;
}

.mockup-img1 img {
    position: relative;
    z-index: 10;
}

.mockup-img2 img {
    position: relative;
    z-index: 5;
}

.pill {
    position: absolute;
}

.pill1 {
    width: 100px;
    height: 100px;
    background-image: url("../images/webiberis_pill1.png");
    top: 160px;
    left: -60px;
    z-index: 11;
}

.pill2 {
    width: 196px;
    height: 193px;
    background-image: url("../images/webiberis_pill2.png");
    top: 614px;
    left: -120px;
}

.pill3 {
    width: 100px;
    height: 100px;
    background-image: url("../images/webiberis_pill3.png");
    bottom: 30px;
    right: -50px;
}

.pill4 {
    width: 117px;
    height: 116px;
    background-image: url("../images/webiberis_pill4.png");
    top: 142px;
    right: -60px;
}

.pill5 {
    width: 100px;
    height: 100px;
    background-image: url("../images/webiberis_pill5.png");
    bottom: 140px;
    right: -55px;
    z-index: 6;
}

/* ======= !WebiBeris =======  */


/* ======= Roadie =======  */

.roadie-image-max {
    max-width: 100%;
    margin: 0 auto 100px;
    display: block;
}

.roadie_onboarding {
    position: relative;
}

.roadie_onboarding p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.roadie-feedback {
    max-width: 352px;
    border-radius: 10px;
}

/* ======= !Roadie =======  */


/* ======= Abhas Kitchen =======  */

.abhaskitchen-wireframe {
    box-shadow: 0.1px 4px 8px 0 rgba(36, 37, 39, 0.11);
    margin: 100px auto 0;
    padding: 0px;
    width: 100%;
    max-width: 850px;
    position: relative;
    z-index: 10;
    background: #fff;
}

.abhaskitchen-label {
    padding: 16px 30px 40px 80px;
    top: -50px;
    right: 88px;
}

.abhaskitchen-wireframe img {
    width: 100%;
}

.drawn-concept {
    margin-top: 100px;
}

.drawn-concept h3 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 28px;
    line-height: 1.07;
    font-weight: 300;
    color: #40E0D0;
    margin: 80px 0 0 80px;
    position: relative;
    z-index: 1;
}

.drawn-concept h3:first-of-type {
    margin-top: 40px;
}

.drawn-concept img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.designsolution01 {
    margin-top: -40px;
}

.designsolution02 {
    margin-top: -50px;
    margin-bottom: 48px;
}

.design-iteration h3 {
    margin-top: 80px !important;
}

.design-iteration h3:first-of-type {
    margin-top: 60px !important;
    margin-bottom: 40px;
}

.abhaskitchen-text {
    margin: 85px 0;
}

.highfidelity {
    background-color: #f8f8f8;
    padding: 106px 0 80px;
}

.box-shadow.abhaskitchen {
    padding-bottom: 0px;
    /*padding has been moved from box-shadow to highfidelity because of gray background*/
}

.highfidelity .row {
    margin-bottom: 166px;
}

.change-order-1 {
    order: 1;
}

.change-order-2 {
    order: 2;
}

.project-titletext {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 0;
    text-align: right;
}

.change-order-2 .project-titletext {
    text-align: left;
    margin-right: 0;
    margin-left: 50px;
}

.project-titletext h4 {
    font-size: 36px;
    font-weight: 600;
    color: #828282;
    position: relative;
}

.project-titletext h4 span {
    display: block;
    font-size: 30px;
    font-weight: 500;
}

.project-titletext h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 600;
    color: #f8f8f8;
    text-shadow: -1px -1px 0 #e3e3e3, 1px -1px 0 #e3e3e3, -1px 1px 0 #e3e3e3, 1px 1px 0 #e3e3e3;
}

.project-img {
    box-shadow: -28.3px 47.1px 32px 0 rgba(36, 39, 48, 0.19);
    width: 100%;
}

.project-img img {
    width: 100%;
}

/* ======= !Abhas Kitchen =======  */


/* ======= Square =======  */

.new-project h6 {
    margin-bottom: 25px;
}

.new-project h6>span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #40E0D0;
}

.new-project p {
    margin-bottom: 75px;
}

.new-project p.variant {
    margin-bottom: 60px !important;
}

.new-project p.variant_food {
    margin-bottom: 80px !important;
}

.myrole {
    height: 40px;
    display: block;
}

.myrole_food {
    height: 30px;
    display: block;
}

.user-group h6 {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: #161616;
    margin-top: 40px;
}

.user-group p {
    text-align: center;
}

.user-merchant img {
    width: 514px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.user-customer {
    margin-top: 180px;
}

.user-customer img {
    width: 459px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.questions li {
    margin-top: -20px;
}

.questions li:nth-of-type(3) {
    margin-top: 10px;
}

.question-title p {
    position: relative;
    padding-left: 34px;
    padding-top: 50px;
    margin: 0;
}

.question-title p::before {
    content: attr(data-name);
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 600;
    color: #fff;
    text-shadow: -1px -1px 0 #e3e3e3, 1px -1px 0 #e3e3e3, -1px 1px 0 #e3e3e3, 1px 1px 0 #e3e3e3;
    line-height: 1;
    z-index: -1;
}

.question-image {
    padding-top: 24px;
    padding-left: 34px;
}

.question-image img {
    max-width: 100%;
}

.survey-questions li {
    margin-top: -60px;
}

.survey-questions li:first-of-type {
    margin-top: 0;
}

.questions {
    margin-bottom: 100px;
}

.survey-questions {
    margin-bottom: 120px;
}

.marginbottom {
    margin-bottom: 30px !important;
}

.affinity {
    border-radius: 20px;
    overflow: hidden;
}

.affinity img {
    max-width: 100%;
}

.popup-link {
    cursor: zoom-in;
}

.heading-text {
    margin-top: 75px;
}

.para-text {
    margin-bottom: 0 !important;
}

.cards-all {
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 15px 30px 45px;
    margin: 30px 0px 75px;
}

.cards-all>* {
    margin-top: 30px;
}

.card-text {
    border-radius: 10px;
    box-shadow: 1.2px 1.6px 8px 0 rgba(36, 39, 48, 0.2);
    background-color: #ffffff;
    padding: 20px;
    height: 100%;
}

.card-text p {
    font-size: 18px;
    margin: 0 !important;
    padding: 0;
}

.ptop-150 {
    padding-top: 150px;
}

.idea-row {
    justify-content: center;
}

.idea {
    margin-bottom: 75px;
    cursor: zoom-in;
}

.idea img {
    max-width: 100%;
}

.model {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.model img {
    max-width: 100%;
    margin-bottom: 75px;
}

.prototype {
    width: 100%;
    min-width: 550px;
    height: 860px;
    margin-bottom: 20px;
}

.prototype:last-of-type {
    margin-bottom: 100px;
}

.high-fidelity {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.high-fidelity li {
    display: block;
    margin: 0;
    padding: 0;
}

.high-fidelity li h2 {
    color: #161616;
    text-align: center;
}

.high-fidelity li h2 span {
    font-size: 16px;
    font-weight: 400;
    color: #444444;
}

.high-fidelity li img {
    display: block;
    margin: 50px auto 150px;
    max-width: 100%;
}

.evaluation-text {
    margin-bottom: 40px !important;
}

.evaluation-number h1 {
    color: #555;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1;
}

.evaluation-number h1 span {
    font-weight: 400;
    font-size: 36px;
}

.evaluation-number p {
    color: #444;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 40px !important;
}

.square_process {
    margin-top: -25px;
    margin-bottom: 75px;
}

.square_process img {
    width: 100%;
    height: auto;
}

.square_competitor {
    border-radius: 20px;
    overflow: hidden;
    margin-top: -25px;
    margin-bottom: 75px;
}

.square_competitor img {
    width: 100%;
    height: auto;
}

.square_need {
    display: flex;
    margin: 50px 0 50px;
}

.square_user_custom {
    align-items: flex-end;
    justify-content: flex-start !important;
}

.square_need_image {
    flex-shrink: 0;
    width: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.square_need_image img {
    width: 65%;
    height: auto;
    opacity: 95%;
}

.square_user_custom img {
    width: 75% !important;
}

.square_need_text {
    flex-shrink: 0;
    width: 75%;
}

.need_title {
    background-color: rgba(0, 72, 255, 0.1);
    border-radius: 8px;
    padding: 5px 15px;
    margin-bottom: 15px;
}

.need_title p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #333;
    margin: 0;
}

.need_explaination {
    background-color: rgba(236, 236, 236, 0.25);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.need_explaination p {
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #555;
    line-height: 1.8;
    margin: 0;
}

.need_quote p {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 22px;
    color: #40E0D0;
    margin: 0;
    margin-bottom: 80px;
}

.need_quote p span {
    opacity: 0.9;
}

/* ======= !Square =======  */


/* ======= Food Tracker =======  */

h1.foodtracking {
    font-size: 60px;
}

.split-text {
    display: flex;
}

.role-text {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 5px;
    margin-bottom: 25px !important;
}

.float-text {
    display: inline-block;
    margin-bottom: 25px !important;
}

.food-team span {
    display: block;
    margin-bottom: 20px;
}

.survey-img img {
    max-width: 100%;
    margin-bottom: 100px;
}

.mfp-image img {
    display: block;
    margin: 0 auto 75px;
    max-width: 100%;
}

.sub-title {
    font-size: 24px !important;
    color: #3a3a3a !important;
}

.visual-tracker-image img,
.steps-image img {
    display: block;
    margin: -25px auto 100px;
    max-width: 100%;
}

.steps-image img {
    margin-bottom: 125px;
}

.food-questions {
    margin-bottom: 100px;
}

.margin-top {
    margin-top: 125px;
}

.persona {
    box-shadow: 4.9px 6.3px 21px 0 rgba(36, 39, 48, 0.2);
}

.parent-persona {
    margin-bottom: 25px;
}

.storyboard-text {
    margin-bottom: 50px !important;
}

.food-storyboard img,
.food-wireframe img {
    max-width: 100%;
    display: block;
    margin: 0 auto 100px;
}

.food-prototype {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 75px;
}

.food-prototype iframe {
    width: 400px;
    height: 600px;
}

/* ======= !Food Tracker =======  */


/* ======= Google UX Design Challenge =======  */

.googleprocess,
.googledefine {
    max-width: 100%;
    display: block;
    margin: 0 auto 100px;
}

.googleinterview {
    max-width: 100%;
    display: block;
    margin: 0 auto 40px;
}

.googlesurvey {
    font-size: inherit;
    font-weight: inherit;
    color: #40E0D0;
}

.googlesurvey:hover {
    color: #1c44aa;
}

.googlesurveyimg {
    max-width: 100%;
    margin: 0 auto 100px;
}

.googledesign.questions {
    margin-top: -30px;
}

.googledesign.questions li {
    margin-top: -10px;
}

.googleneeds {
    margin-top: -50px;
    margin-bottom: 125px;
}

.googlesketch {
    max-width: 750px;
    display: block;
    margin: 0 auto 150px;
}

.google-low-fi {
    max-width: 100%;
    display: block;
    margin: 0 auto 150px;
}

.google-high-fi {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.googlearchitecture {
    max-width: 100%;
    display: block;
    margin: -50px auto 50px;
}

.google-future {
    margin-top: 80px;
}

.googleprimaryblue {
    color: #4285f4;
}

.view-all {
    display: flex;
    justify-content: center;
}

.view-all .new-button {
    padding: 15px 100px;
}

/* ======= !Google UX Design Challenge =======  */

/* ======= Subway Design Challenge =======  */

.sub-img {
    width: 750px;
    display: block;
    position: absolute;
    left: 90px;
    top: -50px;
}

.subway-topic {
    margin: -20px auto 80px;
    display: block;
}

.subway-user {
    width: 375px;
    max-width: 100%;
    display: block;
    margin: 0 auto 60px;
}

.user-assumptions {
    font-size: 19px;
}

.user-assumptions li {
    list-style-type: disc;
    margin-bottom: 20px !important;
}

.subway-research {
    display: flex;
    margin-bottom: 40px;
}

.subway-research h6 {
    font-size: 24px;
    margin-bottom: 0px !important;
}

.subway-research a {
    font-size: 18px;
    color: #888;
    display: block;
    position: relative;
    top: -4px;
    margin-bottom: 6px !important;
}

.subway-research p {
    margin-bottom: 0px !important;
}

.subway-research img {
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
    flex-shrink: 0;
}

.subway-paper {
    width: 320px;
}

.subway-build {
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    object-position: left;
}

.subway-lowfidelity {
    max-width: 100%;
    display: block;
    margin: -20px auto 80px;
}

.sub-features {
    margin-bottom: 80px;
    align-items: center;
}

.sub-features img {
    max-width: 100%;
}

.sub-features h6 {
    font-size: 30px;
}

.sub-features .right h6,
.sub-features .right p {
    text-align: right;
}

/* ======= !Subway Design Challenge =======  */

/* ======= Media Queries =======  */

@media (min-width: 1520px) {
    .container-max {
        max-width: 1440px;
    }
}

@media (min-width: 1200px) {
    .container-custom {
        max-width: 960px;
    }
}

@media (max-width: 1600px) {
    .profile-img {
        top: -80px;
    }

    .about h1 {
        margin-top: 40px;
    }

    .section-padding-top {
        padding-top: 50px;
    }

    .opening-image {
        height: 540px;
    }

    .contact-section {
        padding-top: 80px;
    }

    .contact-list {
        padding-bottom: 50px;
    }

    .resume-mg-top {
        margin-top: 120px;
    }

    #contact p {
        margin: 75px 0 0;
    }

    .work-list {
        margin-bottom: 200px;
    }
}

@media (max-width: 1200px) {
    .profile-img {
        position: relative;
        top: -40px;
    }

    .about h1 {
        margin-top: 50px;
    }

    .resume-mg-top {
        margin-top: 100px;
    }

    p,
    .about p,
    .note-content {
        font-size: 18px;
        line-height: 28px;
    }

    .need_title p {
        font-size: 16px;
    }

    .resume-button {
        font-size: 14px !important;
    }

    .new-button {
        padding: 12px 40px 12px 18px;
        font-size: 14px;
        line-height: 1;
    }

    .new-button .arrow {
        right: 10px;
    }

    .work-list {
        margin-top: 100px;
    }

    .work-list li {
        margin-bottom: 180px;
    }

    .work-text h5 {
        font-size: 40px;
    }

    .work-img,
    .watch-img,
    .mac-img,
    .music-img {
        height: 320px;
    }

    .square-iphone {
        width: 200px;
        top: -40px;
        left: 115px;
    }

    .square-logo {
        width: 75px;
    }

    .apple-watch {
        width: 275px;
        top: -25px;
        left: 40px;
    }

    .img-macbook {
        width: 415px;
        bottom: -10px;
        left: 0px;
    }

    .music-festival {
        width: 215px;
        top: -25px;
        left: 75px;
    }

    .work-img-project .img-macbook {
        width: 1000px;
        bottom: -75px;
        left: -40px;
    }
}

@media (max-width: 992px) {
    .abhaskitchen-wireframe {
        max-width: 576px;
    }

    .abhaskitchen-label {
        padding: 10px 20px 30px 50px;
        top: -40px;
        right: 40px;
    }

    .resume-mg-top {
        margin-top: 40px;
        margin-bottom: 180px;
    }

    .profile-img {
        display: none;
    }

    .reverse-li .row>div:first-of-type {
        order: 2;
    }

    .reverse-li .row>div:last-of-type {
        order: 1;
    }

    .reverse-li .work-text {
        text-align: left;
    }

    .work-list {
        margin-bottom: 100px;
    }

    .work-list li {
        margin-bottom: 120px;
    }

    .work-img,
    .watch-img,
    .mac-img,
    .music-img {
        margin: 0 0 30px 0;
        height: 280px;
    }

    .square-iphone {
        width: 175px;
        top: -40px;
        left: 240px;
    }

    .square-logo {
        width: 100px;
    }

    .apple-watch {
        width: 220px;
        top: -15px;
        left: 225px;
    }

    .img-macbook {
        width: 450px;
        bottom: -10px;
        left: 120px;
    }

    .music-festival {
        width: 200px;
        top: -35px;
        left: 230px;
    }

    .high-fidelit-interaction {
        display: none;
    }

    .square-iphone-1,
    .square-iphone-2 {
        width: 320px;
    }

    .square-iphone-1 {
        top: -80px;
        left: 50px;
    }

    .square-iphone-2 {
        top: -200px;
        left: 350px;
    }

    .work-img-project {
        height: 320px !important;
        margin: 80px 0 100px !important;
    }

    .project-title h1 {
        font-size: 60px;
        line-height: 1.2;
    }

    .work-img-project .apple-watch {
        width: 250px;
        top: -25px;
        left: 200px;
    }

    .work-img-project .img-macbook {
        width: 800px;
        bottom: -60px;
        left: -50px;
    }

    .work-img-project .music-festival {
        width: 240px;
        top: -40px;
        left: 225px;
    }
}

@media (max-width: 768px) {
    .nav-link {
        display: inline-block;
    }

    .navbar-nav {
        height: 100vh;
    }

    .nav-item {
        margin-top: 50px;
    }

    h1 {
        font-size: 54px;
    }

    .resume-mg-top {
        margin-top: 80px;
        margin-bottom: 120px;
    }

    h3 {
        font-size: 36px;
    }

    .work-list {
        margin-top: 75px;
        margin-bottom: 40px;
    }

    .work-list li {
        margin-bottom: 100px;
    }

    .work-text h5 {
        font-size: 25px;
        line-height: 1.2;
        margin: 40px 0 20px;
    }

    .work-text h6 {
        display: none;
    }

    .work-text p {
        margin-bottom: 72px;
    }

    .work-img,
    .watch-img,
    .mac-img,
    .music-img {
        margin: 0;
        height: 200px;
    }

    .square-iphone {
        width: 120px;
        top: -25px;
        left: 180px;
    }

    .square-logo {
        width: 75px;
    }

    .apple-watch {
        width: 175px;
        top: -15px;
        left: 150px;
    }

    .img-macbook {
        width: 345px;
        bottom: -10px;
        left: 75px;
    }

    .roadie-logo {
        display: none;
    }

    .music-festival {
        width: 140px;
        top: -25px;
        left: 175px;
    }

    .square-iphone-1 {
        left: 100px;
    }

    .square-iphone-2 {
        display: none;
    }

    .work-img-project .apple-watch {
        left: 120px;
    }

    .work-img-project .img-macbook {
        width: 600px;
        bottom: -40px;
        left: -50px;
    }

    .work-img-project .music-festival {
        left: 150px;
    }

    .work-img-project {
        margin: 80px 0 80px !important;
    }

    .project-title h1 {
        font-size: 40px;
    }

    h6 {
        font-size: 32px;
    }

    #contact h3:first-of-type {
        text-align: left;
        text-indent: 0;
        margin-bottom: 50px;
    }

    .contact-section {
        padding: 60px 0 20px;
    }

    #contact h3:first-of-type {
        margin-bottom: 25px;
    }

    .contact-list {
        padding: 20px 0 40px;
    }

    .contact-list li {
        margin-bottom: 10px;
    }

    .contact-list li a {
        font-size: 18px;
    }

    .section-vertical {
        display: none;
    }

    .section-break {
        display: block;
    }

    .user-customer {
        margin-top: 80px;
    }

    .user-merchant img,
    .user-customer img {
        width: 400px;
    }

    .questions,
    .survey-questions {
        margin-top: -40px;
    }

    .questions li,
    .survey-questions li {
        margin-top: 15px !important;
    }

    .question-title p {
        padding-top: 40px;
    }

    .question-title p::before {
        top: 25px;
        left: 10px;
        font-size: 40px;
    }
}

@media (max-width: 620px) {
    .square-iphone {
        left: 115px;
    }

    .apple-watch {
        left: 90px;
    }

    .img-macbook {
        left: 0px;
    }

    .roadie-logo {
        display: none;
    }

    .music-festival {
        left: 105px;
    }

    .work-img-project {
        height: 250px !important;
        margin: 120px 0 60px !important;
    }

    .square-iphone-1 {
        width: 250px;
        top: -70px;
        left: 60px;
    }

    .work-img-project .apple-watch {
        width: 200px;
        top: -25px;
        left: 75px;
    }

    .mac-img {
        height: 180px !important;
    }

    .work-img-project .img-macbook {
        width: 325px;
        bottom: -40px;
        left: 10px;
    }

    .work-img-project .music-festival {
        width: 175px;
        top: -20px;
        left: 90px;
    }

    .user-merchant img,
    .user-customer img {
        width: 345px;
    }
}

/* ======= !Media Queries =======  *