/* ======= Presets =======  */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-style: normal;
    line-height: 44px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 88px;
    color: #0A0A0A;
    display: flex;
    justify-content: left;
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 98px;
    color: #0A0A0A;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    
}

h3 {
    font-size: 43px;
    font-weight: 600;
}

h4 {
    font-size: 28px;
    font-weight: 600;
    
}



h5 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

h6 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 36px;
}

h6.variant {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px !important;
}

.para {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: normal;
    text-align: left;
    color: #333;
    margin-bottom: 36px;
}

#need {
    padding-bottom: 60px;
    
}
#need {
    padding-bottom: 40x;
    
}

.card {
    
    width: 400px;
    height: 250px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);    
    text-align: center;
  }

  
  .thumbnail {
    margin: 0 0 48px;
  }  
 

.outline {
    color: white;
    text-shadow: -1px -1px 0 #0a0a0a, 1px -1px 0 #0a0a0a, -1px 1px 0 #0a0a0a, 1px 1px 0 #0a0a0a;
    letter-spacing: 4px;
    margin-left: 2px;
}

.pop {
    color: #40E0D0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: normal;
    text-align: left;
    color: #333;
    margin-bottom: 36px;
}



a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #40E0D0;
}

ul {
    padding-left: 0;
}

.button {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0px;
    word-spacing: 1px;
    color: #ffffff;
    background-color: #40E0D0;
    border-radius: 5px;
    box-shadow: -1.6px 2.5px 6px 0 rgba(0, 0, 0, 0.25);
    padding: 8px 16px;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #40E0D0;
    box-shadow: -1.6px 2.5px 12px 0 rgba(0, 0, 0, 0.15);
}

.pd-top-150 {
    padding-top: 150px;
}

.section-padding-top {
    padding-top: 175px;
}

.section-padding-bottom {
    padding-bottom: 125px;
}

.mg-top-150 {
    margin-top: 150px;
}

.mg-bottom-100 {
    margin-bottom: 100px !important;
}

.resume-mg-top {
    margin-top: 150px;
}

.resume-button {
    font-size: 16px !important;
}

.mark,
mark {
    background-color: rgba(0, 72, 255, 0.1);
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
}

.section-divider {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    display: block;
    letter-spacing: 20px;
}

.note {
    display: flex;
    margin-top: -45px;
    margin-bottom: 45px;
}

.note-dash {
    width: 5px;
    background: #555555;
    flex-shrink: 0;
}

.note-content {
    color: #555555;
    padding: 10px 25px;
}

.note-link {
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    color: #40E0D0;
}

/* ======= !Presets =======  */


/* ======= Loader =======  */

.loader-screen {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.loader {
    position: absolute;
    top: 36%;
    left: 45%;
}

.signature {
    height: 100px;
}

.signature__inner {
    fill: none;
}

.signature__path {
    stroke: #333;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: opacity 1s ease-in-out;
}

.loading {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left: 15px;
}


/* ======= !Loader =======  */


/* ======= Navigation =======  */

.navigation-menu {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0px;
    z-index: 100;
}

.header-menu {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.096);
}

.header-menu .navbar {
    padding-top: 25px;
}

.navbar {
    padding: 50px 0 10px;
    transition: all 0.4s ease-in-out;
}

.navbar-brand {
    line-height: 1;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.filter {
    padding-left: 40px;
}

.nav-link {
    margin: 0 30px;
    padding: 0 !important;
    line-height: 1;
    position: relative;
}

.nav-link:hover {
    color: #0a0a0a;
}

.navbar-nav .nav-item:last-of-type .nav-link {
    margin-right: 0;
}

.nav-link.active::after,
.nav-link:hover::after {
    content: "";
    position: absolute;
    bottom: -11px;
    height: 2px;
    background-color: #333;
    animation: dash 0.3s 1 ease-in-out forwards;
}

@keyframes dash {
    from {
        left: 50%;
        right: 50%;
    }

    to {
        left: 0%;
        right: 0%;
    }
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none;
}

.collapsing {
    transition: height 0.5s ease-in-out;
}

/* ======= !Navigation =======  */

/* ======= !Mouse SCroll ===== */



/* ======= Hamburger Menu Icon=======  */

.navbar.main-navbar .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.navbar-toggler {
    color: #0a0a0a;
    z-index: 1;
    position: relative;
    width: 36px;
    height: 18px;
    top: -1px;
}

.navbar-toggler i {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 2px;
    background: #0a0a0a;
    opacity: 1;
    border-radius: 10px;
    transition: background-color .35s, opacity 175ms cubic-bezier(.215, .61, .355, 1), -webkit-transform 175ms cubic-bezier(.215, .61, .355, 1);
    transition: background-color .35s, transform 175ms cubic-bezier(.215, .61, .355, 1), opacity 175ms cubic-bezier(.215, .61, .355, 1);
    transition: background-color .35s, transform 175ms cubic-bezier(.215, .61, .355, 1), opacity 175ms cubic-bezier(.215, .61, .355, 1), -webkit-transform 175ms cubic-bezier(.215, .61, .355, 1);
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0)
}

.navbar-toggler i:nth-child(1) {
    top: -3px;
}

.navbar-toggler i:nth-child(2) {
    top: 7px;
}

.navbar-toggler i:nth-child(3) {
    top: 17px;
}

.navbar-toggler[aria-expanded="true"] i:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
    -moz-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] i:nth-child(2) {
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] i:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
    -moz-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
}

/* ======= !Hamburger Menu Icon=======  */


/* ======= About =======  */

.about h1 {
    margin-top: 100px;
    margin-bottom: 28px;
    font-size: 56px;
}

.about p {
    font-size: 18px;
    margin-bottom: 16px;
}

.profile-img {
    position: relative;
    top: -10px;
}

.namaste {
    width: 64px;
    height: 64px;
    display: inline-grid;
    background-image: url("../assets/namaste.png");
    background-size: contain;
}

.nishu {
    width: 100%;
    height: auto;
}

/* ======= !About =======  */
#myBtn {
    position: fixed;
    bottom: 30px;
    float: right;
    right: 18.5%;
    left: 87.25%;
    max-width: 50px;
    width: 100%;
    border-color: rgba(199, 199, 199, 0.829);
    padding: .5px;

}
/*On Hover Color Change*/
#myBtn:hover {
    background-color: #40E0D0;
}

/* ======= Work =======  */

.project-card {
    margin-top: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    height: 400px;
    position: relative;
}

.my-work {
    margin-bottom: 30px;
}

.project-text {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.text-content {
    position: absolute;
    padding: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.text-content h5 {
    opacity: 0.9;
}

.roadie_max {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.mb120px {
    margin-bottom: 120px;
}

.design-implication {
    color: #40E0D0;
}

.mb60px {
    margin-bottom: 60px;
}

.roadie_finding {
    margin-bottom: 60px;
}

.casestudy {
    text-align: center;
    display: block;
    margin-bottom: 30px !important;
}

.casestudy * {
    font-size: 16px !important;
}

/* ======= !Work =======  */


/* ======= Project =======  */

.project-title {
    padding-bottom: 80px;
}

.project-title h1 {
    margin-left: -5px;
}

.subway-main-title {
    font-size: 54px !important;
}

.label {
    position: absolute;
    background-color: #40E0D0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 16px;
    line-height: 1;
}

.label~img {
    position: relative;
    z-index: 5;
}

.back-to-work {
    font-size: 22px;
    color: rgb(14, 14, 14);
    padding-bottom: 80px;
}

.back-black {
    color: rgb(48, 48, 48);
}

.back-to-work:hover {
    text-decoration: none;
}

.back-to-work i {
    position: relative;
    top: 5px;
}

.work-menu {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
    padding: 20px 0 10px;
    transition: all 0.6s ease-in-out;
}

.box-menu {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.096);
    padding: 8px 0;
}

.sticky-menu {
    position: fixed;
    top: -100px;
}

.header-menu {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.096);
}

.header-menu .navbar {
    padding-top: 25px;
}

.work-list {
    margin-top: 50px;
    margin-bottom: 250px;
}

.work-list li {
    margin-bottom: 200px;
}

.work-list li:last-of-type {
    margin: -20px 0 0;
}

.reverse-li .col-text {
    text-align: right;
}

.work-img {
    position: relative;
    background-image: linear-gradient(45deg,#6B62A5, #5E48E8);
    box-shadow: 0px 10px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 336px;
    margin: 10px 30px 0 0;
}

.work-img1 {
    position: relative;
    background-image: linear-gradient(45deg, #FFFC00, #fffb00ec);
    box-shadow: 0px 10px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 336px;
    margin: 10px 30px 0 0;
}

.proj1 {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: -12px;
    left: 26px;
}

.proj1-1,
.proj1-2 {
    width: 400px;
    height: auto;
    position: absolute;
}


.proj1-1 {
    top: -125px;
    left: 65px;
}

.proj1-2 {
    top: -262px;
    left: 425px;
}


.square-logo {
    width: 30px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 15px;
}

.watch-img {
    position: relative;
    background-image: linear-gradient(45deg, #2025CB, #2025CB 75%);
    box-shadow: 0px 10px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 320px;
    margin: 0 0 0 30px;
}

.watch-img1 {
    position: relative;
    background-image: linear-gradient(45deg, #FF4208 , #FF4208 75%);
    box-shadow: 0px 15px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 320px;
    margin: 0 0 0 30px;
}

.proj2 {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: -10px;
    left: -5px;
}

.work-img-project .proj2 {
    width: 300px;
    height: auto;
    position: absolute;
    top: -50px;
    left: 300px;
}

.mac-img {
    position: relative;
    background-image: linear-gradient(45deg, #FF4208 , #FF4208 75%);
    box-shadow: 0px 15px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 320px;
    margin: 10px 30px 0 0;
}

.proj4 {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: -15px;
    left: -10px;
}

.work-img-project .proj4 {
    width: 1150px;
    height: auto;
    position: absolute;
    bottom: -75px;
    left: -100px;
}

.roadie-logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 15px;
}

.music-img {
    position: relative;
    background-image: linear-gradient(45deg, #FFFC00, #fffb00ec);
    box-shadow: 0px 10px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 336px;
    margin: 0 0 0 30px;
}

.subway-img {
    position: relative;
    background-image: linear-gradient(45deg, rgb(41, 101, 235) 0%, rgb(69, 143, 255) 100%);
    box-shadow: 0px 10px 25px 5px rgba(73, 74, 78, 0.2);
    border-radius: 25px;
    height: 336px;
    margin: 0 0 0 30px;
}

.proj5 {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: -12px;
    left: 26px;
}

.work-img-project .proj5 {
    width: 325px;
    height: auto;
    position: absolute;
    top: -75px;
    left: 400px;
}

.proj3 {
    width: 400px;
    height: auto;
    position: absolute;
    bottom: -40px;
    left: 10px;
}

.work-img-project {
    position: relative;
    border-radius: 25px;
    height: 375px !important;
    margin: 150px 0 120px !important;
}

.work-list button {
    background-color: transparent;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #40E0D0;
    font-weight: 500;
    width: 150px;
    margin: 150px 0 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.work-list button:hover,
.work-list button:active,
.work-list button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.work-list button:hover {
    color: #40E0D0;
}

.work-number {
    font-family: 'Poppins', sans-serif;
    font-size: 120px;
    font-weight: 600;
    line-height: 120px;
    color: #fff;
    text-shadow: -1px -1px 0 #e3e3e3, 1px -1px 0 #e3e3e3, -1px 1px 0 #e3e3e3, 1px 1px 0 #e3e3e3;
}

.work-text h5 {
    font-size: 40px;
    color: #0a0a0a;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 20px;
}

.subway-title {
    font-size: 44px !important;
}

.work-text h6 {
    font-size: 21px;
    color: #333333;
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 25px;
}

.work-text h6 span {
    position: relative;
    color: #333333 !important;
    top: -5px;
}

.project-title.work-text h6 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
}

.work-text p {
    font-size: 18px;
}

.new-button {
    padding: 15px 50px 15px 22px;
    border-radius: 50px;
    border: 1px solid #333333;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.new-button:hover {
    border: 1px solid #40E0D0;
    background-color: #40E0D0;
    color: #fff;
    text-decoration: none;
}

.new-button .arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 48%;
    right: 20px;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.new-button .arrow-top,
.new-button .arrow-bottom {
    background-color: #333;
    position: absolute;
    height: 2px;
    left: -5px;
    top: 50%;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.new-button .arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.new-button .arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.new-button:hover .arrow {
    right: 12px;
}

.new-button:hover .arrow-top,
.new-button:hover .arrow-bottom {
    background-color: #fff;
}

.work-text p {
    margin-bottom: 90px;
    text-align: inherit;
}

.work-text .new-button {
    top: -36px;
}

/* ======= ! Project =======  */


/* ======= Contact =======  */

.contact-section {
    background-color: #0A0A0A;
    padding: 120px 0 40px;
}

#contact {
    position: relative;
}

#contact h3 {
    color: #f5f5f5;
}

.contact-list {
    padding-top: 40px;
    margin: 0;
    display: inline;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.nav-menu{
    padding-top: 40px;
    margin: 0;
    display: flex;
    list-style-type: none;
}

.contact-list li {
    margin-bottom: 20px;
    display: inline;
}

.contact-list li a {
    font-size: 22px;
    line-height: 1.25;
    transition: all 0.3s ease-in-out;
    color: #666666;
}

.mail :hover{
    color: #EA4335;
}

.lnkd :hover{
    color: #0072b1;
}

.tweet :hover{
    color: #1DA1F2;
}

.drib :hover{
    color: #ea4c89;
}

#contact p {
    font-family: 'Poppins', sans-serif;
    color: #797979;
    margin: 150px 0 0;
}

.mouse {
    display: block;
    position: absolute;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid rgba(0, 0, 0, 0.54);
    bottom: 20px;
    left: 50%;
    margin-left: -13px;
}

.mouse span {
    display: block;
    margin: 6px auto;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.54);
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}


.plane-img {
    position: absolute;
    top: -20px;
    left: auto;
    right: 0;
    width: 400px;
    opacity: 0.75;
}

.section-break {
    display: none;
}

/* ======= !Contact =======  */


/* ======= Media Queries =======  */

@media (min-width: 1520px) {
    .container-max {
        max-width: 1440px;
    }
}

@media (min-width: 1200px) {
    .container-custom {
        max-width: 960px;
    }
}

@media (max-width: 1600px) {
    .profile-img {
        top: -80px;
    }

    .about h1 {
        margin-top: 40px;
    }

    .section-padding-top {
        padding-top: 50px;
    }

    .opening-image {
        height: 540px;
    }

    .contact-section {
        padding-top: 80px;
    }

    .contact-list {
        padding-bottom: 50px;
    }

    .resume-mg-top {
        margin-top: 120px;
    }

    #contact p {
        margin: 75px 0 0;
    }

    .work-list {
        margin-bottom: 200px;
    }
}

@media (max-width: 1200px) {
    .profile-img {
        position: relative;
        top: -40px;
    }

    .about h1 {
        margin-top: 50px;
    }

    .resume-mg-top {
        margin-top: 100px;
    }

    p,
    .about p,
    .note-content {
        font-size: 18px;
        line-height: 28px;
    }

    .need_title p {
        font-size: 16px;
    }

    .resume-button {
        font-size: 14px !important;
    }

    .new-button {
        padding: 12px 40px 12px 18px;
        font-size: 14px;
        line-height: 1;
    }

    .new-button .arrow {
        right: 10px;
    }

    .work-list {
        margin-top: 100px;
    }

    .work-list li {
        margin-bottom: 180px;
    }

    .work-text h5 {
        font-size: 40px;
    }

    .work-img,
    .watch-img,
    .mac-img,
    .music-img {
        height: 320px;
    }

    .proj1 {
        width: 350px;
        top: 77px;
        left: -5px;
    }

    .square-logo {
        width: 75px;
    }

    .proj2 {
        width: 295px;
        top: 8px;
        left: 16px;
    }

    .proj3 {
        width: 400px;
        bottom: -35px;
        left: -25px;
    }

    .proj4 {
        width: 350px;
        bottom: -15px;
        left: -4px;
    }

    .proj5 {
        width: 350px;
        top: 90px;
        left: -4px;
    }

    .work-img-project .proj4 {
        width: 1000px;
        bottom: -75px;
        left: -40px;
    }
}

@media (max-width: 992px) {
    .abhaskitchen-wireframe {
        max-width: 576px;
    }

    .resume-mg-top {
        margin-top: 40px;
        margin-bottom: 180px;
    }

    .profile-img {
        display: none;
    }

    .reverse-li .row>div:first-of-type {
        order: 2;
    }

    .reverse-li .row>div:last-of-type {
        order: 1;
    }

    .reverse-li .work-text {
        text-align: left;
    }

    .work-list {
        margin-bottom: 100px;
    }

    .work-list li {
        margin-bottom: 120px;
    }

    .work-img,
    .watch-img,
    .work-img1,
    .watch-img1,
    .mac-img,
    .music-img {
        margin: 0 0 30px 0;
        height: 280px;
    }

    .proj1 {
        width: 450px;
        top: -29px;
        left: 120px;
    }

    .square-logo {
        width: 100px;
    }

    .proj2 {
        width: 300px;
        top: -35px;
        left: 190px;
    }

    .proj4 {
        width: 450px;
        bottom: -17px;
        left: 120px;
    }

    .proj3 {
        width: 350px;
        bottom: -40px;
        left: 170px;
    }

    .proj5 {
        width: 450px;
        top: -15px;
        left: 120px;
    }

    .high-fidelit-interaction {
        display: none;
    }

    .proj1-1,
    .proj1-2 {
        width: 320px;
    }

    .proj1-1 {
        top: -80px;
        left: 50px;
    }

    .proj1-2 {
        top: -200px;
        left: 350px;
    }

    .work-img-project {
        height: 320px !important;
        margin: 80px 0 100px !important;
    }

    .project-title h1 {
        font-size: 60px;
        line-height: 1.2;
    }

    .work-img-project .proj2 {
        width: 250px;
        top: -25px;
        left: 200px;
    }

    .work-img-project .proj4 {
        width: 800px;
        bottom: -60px;
        left: -50px;
    }

    .work-img-project .proj5 {
        width: 240px;
        top: -40px;
        left: 225px;
    }
}

@media (max-width: 768px) {
    .nav-link {
        display: inline-block;
    }

    .navbar-nav {
        height: 100vh;
    }

    .nav-item {
        margin-top: 50px;
    }

    h1 {
        font-size: 54px;
    }

    .resume-mg-top {
        margin-top: 80px;
        margin-bottom: 120px;
    }

    h3 {
        font-size: 36px;
    }

    .work-list {
        margin-top: 75px;
        margin-bottom: 40px;
    }

    .work-list li {
        margin-bottom: 100px;
    }

    .work-text h5 {
        font-size: 25px;
        line-height: 1.2;
        margin: 40px 0 20px;
    }

    .work-text h6 {
        display: none;
    }

    .work-text p {
        margin-bottom: 72px;
    }

    .work-img,
    .watch-img,
    .work-img1,
    .watch-img1,
    .mac-img,
    .music-img {
        margin: 0;
        height: 200px;
    }

    .proj1 {
        width: 350px;
        top: -38px;
        left: 78px;
    }

    .square-logo {
        width: 75px;
    }

    .proj2 {
        width: 225px;
        top: -35px;
        left: 140px;
    }

    .proj3 {
        width: 225px;
        top: -10px;
        left: 140px;
    }

    .proj4 {
        width: 350px;
        bottom: -17px;
        left: 78px;
    }

    .proj5 {
        width: 350px;
        top: -25px;
        left: 78px;
    }

    .proj1-1 {
        left: 100px;
    }

    .proj1-2 {
        display: none;
    }

    .work-img-project .proj2 {
        left: 120px;
    }

    .work-img-project .proj4 {
        width: 600px;
        bottom: -40px;
        left: -50px;
    }

    .work-img-project .proj5 {
        left: 150px;
    }

    .work-img-project {
        margin: 80px 0 80px !important;
    }

    .project-title h1 {
        font-size: 40px;
    }

    h6 {
        font-size: 32px;
    }

    #contact h3:first-of-type {
        text-align: left;
        text-indent: 0;
        margin-bottom: 50px;
    }

    .contact-section {
        padding: 60px 0 20px;
    }

    #contact h3:first-of-type {
        margin-bottom: 25px;
    }

    .contact-list {
        padding: 20px 0 40px;
    }

    .contact-list li {
        margin-bottom: 10px;
    }

    .contact-list li a {
        font-size: 18px;
    }

    .section-vertical {
        display: none;
    }

    .section-break {
        display: block;
    }

    .user-customer {
        margin-top: 80px;
    }

    .user-merchant img,
    .user-customer img {
        width: 400px;
    }

    .questions,
    .survey-questions {
        margin-top: -40px;
    }

    .questions li,
    .survey-questions li {
        margin-top: 15px !important;
    }

    .question-title p {
        padding-top: 40px;
    }

    .question-title p::before {
        top: 25px;
        left: 10px;
        font-size: 40px;
    }
}

@media (max-width: 570px) {
    .proj1 {
        width: 325px;
        top: -22px;
        left: 20px;
    }

    .proj2 {
        width: 225px;
        top: -37px;
        left: 20px;
    }

    .proj4 {
        width: 325px;
        top: -12px;
        left: 20px;
    }

    .proj3 {
        width: 275px;
        top: -30px;
        left: 20px;
    }

    .proj5 {
        width: 325px;
        top: -12px;
        left: 20px;
    }

    .work-img-project {
        height: 250px !important;
        margin: 120px 0 60px !important;
    }

    .proj1-1 {
        width: 250px;
        top: -70px;
        left: 60px;
    }

    .work-img-project .proj2 {
        width: 200px;
        top: -25px;
        left: 75px;
    }

    .mac-img {
        height: 180px !important;
    }

    .work-img-project .proj4 {
        width: 325px;
        bottom: -40px;
        left: 10px;
    }

    .work-img-project .proj5 {
        width: 175px;
        top: -20px;
        left: 90px;
    }

    .user-merchant img,
    .user-customer img {
        width: 345px;
    }
}


/* ======= !Media Queries =======  *